

<div class="overflow-x-auto grid grid-cols-12">
  <table
    [ngClass]="itemproduct ? 'col-span-8' : 'col-span-12'"
    class="min-w-full divide-y-2 divide-gray-200 bg-white text-sm"
  >
    <thead class="ltr:text-left rtl:text-right">
      <tr>
        <th class="whitespace-nowrap px-4 py-2 font-medium text-gray-900">
          Name
        </th>
        <th class="whitespace-nowrap px-4 py-2 font-medium text-gray-900">
          price
        </th>
        <th class="whitespace-nowrap px-4 py-2 font-medium text-gray-900">
          Desscription
        </th>
        <th class="whitespace-nowrap px-4 py-2 font-medium text-gray-900">
          Image
        </th>
        <th class="px-4 py-2"></th>
      </tr>
    </thead>

    <tbody class="divide-y divide-gray-200">
      <tr *ngFor="let item of product">
        <!-- <td></td> -->
        <td class="whitespace-nowrap px-4 py-2 font-medium text-gray-900">
          {{ item.name }}
        </td>
        <td class="whitespace-nowrap px-4 py-2 text-gray-700">
          {{ item.price }}
        </td>
        <td class="whitespace-nowrap px-4 py-2 text-gray-700">
          {{ item.desscription }}
        </td>
        <td class="whitespace-nowrap px-4 py-2 text-gray-700">$20,000</td>
        <td class="whitespace-nowrap px-4 py-2">
          <button
            (click)="showinfor(item)"
            class="inline-block rounded bg-indigo-600 px-4 py-2 text-xs font-medium text-white hover:bg-indigo-700"
          >
            View
          </button>

          <!-- <button (click)="removeitem(item.id)">Delete</button> -->
        </td>

      </tr>
    </tbody>
  </table>
  <app-product-item (clicked)="clickOutput($event)" (onadd)="handleAdd($event)"  />


  <p>{{title}}</p>
  <div *ngIf="itemproduct">
    Thông tin sản phẩm
    {{itemproduct.name}}
    <app-product-item [product]="itemproduct" (clicked)="clickOutput($event)"  />
  </div>
</div>

<!-- {{showinfor()}}
<input type="text" (input)="changeprice($event)">
<button (click) = "change()">Click</button> -->
<button *ngIf="isactive">Nguyễn Danh Quân</button>

